<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="/static/style/style.css" />

    <!-- bower:js -->
    <script src="/bower_components/reqwest/reqwest.js"></script>
    <!-- endbower -->
    <script type="text/javascript" src="/static/script/index.js"></script>
  </head>
  <body>
    {{{@body}}}
  </body>
</html>