<form name="form_issue">
  <input type="text" name="name" id="name" /><br />
  <input type="text" name="email" id="email" /><br />
  <input type="text" name="title" id="title" /><br />
  <textarea name="text" id="text"></textarea><br />
  <input type="text" name="captcha" id="captcha" /><br />
  <pre style="font-size:3px;line-height:2px;" id="captcha_ascii"></pre><br />
  <input type="button" id="save" value="Eintragen" />
</form>